body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    font: 1em "Marker Felt", fantasy;
}

div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.warningMessage {
    color: #ff471a;
}